{% extends 'base.html' %}

{% block content %}
{{ block.super }}

<h2>Edit Watchlist Name</h2>

<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="watchlist">Select a watchlist:</label>
    <select name="watchlist" class="form-control">
      {% for watchlist in watchlists %}
      <option value="{{ watchlist.id }}">{{ watchlist.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="name">New Name:</label>
    {{ form.name }}
  </div>
  <button type="submit" class="button">Save Changes</button>
</form>

{% endblock %}
  