{% extends 'base.html' %}

{% block content %}
{{ block.super }}
{% load humanize %}
  <h2>{{ strategy.name }} Holdings</h2>
  <a href="{% url 'add_position' strategy_id=strategy.id %}">Add Position</a>
  <table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Sell</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Cost</th>
        <th>Percent Return</th>
        <th>Dollar Return</th>
        <th>Day Change</th>
        <th>Market Value</th>
        <th>Allocation</th>
      </tr>
    </thead>
    <tbody>
      {% for position in positions %}
      <tr>
        <td>{{ position.symbol|upper }}</td>
        {% if position.symbol == '*USD' %}
        <td></td>
        {% else %}
        <td>
          <a href="{% url 'sell_position' strategy_id=strategy.id symbol=position.symbol %}">
            <button class="my-button">Sell</button>
          </a>
        </td>
        {% endif %}
        <td>{{ position.description }}</td>
        <td>{{ position.quantity|floatformat:"0"|intcomma }}</td>
        <td>${{ position.price|floatformat:"2"|intcomma }}</td>
        <td>${{ position.cost|floatformat:"2"|intcomma }}</td>
        {% if position.pct_change < 0 %}
          <td><span class="negative">{{ position.pct_change|floatformat:"2" }}%</span></td>
        {% else %}
          <td>{{ position.pct_change|floatformat:"2" }}%</td>
        {% endif %}
        {% if position.dollar_return < 0 %}
          <td><span class="negative">(${{ position.dollar_return|floatformat:"2"|cut:"-"|intcomma }})</td>
        {% else %}
        <td>${{ position.dollar_return|floatformat:"2"|intcomma }}</span></td>
        {% endif %}
        {% if position.day_return < 0 %}
          <td><span class="negative">{{ position.day_return|floatformat:"2"|intcomma }}%</td>
        {% else %}
        <td>{{ position.day_return|floatformat:"2"|intcomma }}%</span></td>
        {% endif %}
        <td>${{ position.market_value|floatformat:"0"|intcomma }}</td>
        <td>{{ position.percent_portfolio|floatformat:"2" }}%</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="10">No positions found.</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan = "8"></td>
        <td colspan="3", style="font-weight:bold">${{ total_portfolio_value|floatformat:"0"|intcomma }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
{% endblock %}