{% extends 'base.html' %}

{% block content %}
{{ block.super }}
<h2>Investment Strategies for {{ user.username }}</h2>
<div class = "table-reponsive-md">
    <table class="table-bordered table-hover table-striped">
    <tr>
        <th>Name</th>
        <th>Holdings</th>
        <th>Transactions</th>
    </tr>
    {% for strategy in strategies %}

        <tr>
        <td>{{ strategy.name }}</td>
        <td><a href="{% url 'positions' strategy_id=strategy.id %}">View</a> | <a href="{% url 'add_position' strategy_id=strategy.id %}">Add</a></td>
        <td><a href="{% url 'transactions_list' strategy_id=strategy.id%}">View</a></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No strategies found.</td>
    </tr>
{% endfor %}
</table>
<nav class="navbar">
    <ul><a href="{% url 'add_strategy'%}">Add Strategy</a></ul> |
    <ul>Edit Strategy</ul> |
    <ul><a href="{% url 'delete_strategy'%}">Delete Strategy</a></ul> |
    
</nav>

{% endblock %}