{% extends 'base.html' %}

{% block content %}
{{ block.super }}
<h2>Investment Strategies for {{ user.username }}</h2>
<nav class="navbar">
    <a href="{% url 'add_strategy'%}"><button class="button">Add Strategy</button></a>
    <a href="{% url 'edit_strategy'%}"><button class="button">Edit Strategy</button></a>
    <a href="{% url 'delete_strategy'%}"><button class="button">Delete Strategy</button></a></il>    
</nav>
<div class = "table">
    <table class="table">
    <tr>
        <th>Portfolio</th>
        <th>Holdings</th>
        <th>Transactions</th>
    </tr>
    {% for strategy in strategies %}

        <tr>
        <td>{{ strategy.name }}</td>
        <td>
            <a href="{% url 'positions' strategy_id=strategy.id %}"><button class="button">View</button></a> 
            <a href="{% url 'add_position' strategy_id=strategy.id %}"><button class="button">Add</button></a></td>
        <td><a href="{% url 'transactions_list' strategy_id=strategy.id%}"><button class="button">View</button></a></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No strategies found.</td>
    </tr>
{% endfor %}
</table>


{% endblock %}