{% extends 'base.html' %}

{% block content %}
{{ block.super }}
<h2>Investment Strategies for {{ user.username }}</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Model Holdings</th>
        <th>Transactions</th>
    </tr>
    {% for strategy in strategies %}

        <tr>
        <td>{{ strategy.name }}</td>
        <td></td>
        <td></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No strategies found.</td>
    </tr>
{% endfor %}
</table>
<a href="{% url 'add_strategy'%}">Add Strategy</a>
{% endblock %}