{% extends 'base.html' %}

{% block content %}
{{ block.super }}
{% load humanize %}
<h2>{{ strategy.name }} Transactions</h2>
<div class = "table">
    <table class="table">
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    {% for transaction in transactions %}

        <tr>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.get_type_display }}</td>
        <td>{{ transaction.symbol }}</td>
        <td>{{ transaction.quantity|intcomma }}</td>
        <td>{{ transaction.price }}</td>
        <td>${{ transaction.total|intcomma }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">No transactions found.</td>
    </tr>
{% endfor %}
</table></div>
<nav class ="navbar">
    <a href="{% url 'positions' strategy_id=strategy.id %}"><button class="button">View Positions</button></a>
  </nav>
{% endblock %}