{% extends 'base.html' %}
{% block title %}Watchlists{% endblock %}
{% block content %}
{{ block.super }}
<h2>Watchlists for {{ user.username }}</h2>
<div class = "table">
    <table class="table">

    {% for watchlist in watchlists %}
        <tr>
        <td><a href="{% url 'watchlist' watchlist_id=watchlist.id %}"><button class="button">{{ watchlist.name }}</button></a></td>
        
    </tr>
    {% empty %}
    <tr>
        <td colspan="1">No watchlists found.</td>
    </tr>
{% endfor %}
</table>
<nav class="navbar">
    <a href="{% url 'add_watchlist'%}"><button class="button">Add Watchlist</button></a>
    <a href="{% url 'edit_watchlist'%}"><button class="button">Edit Watchlist</button></a>
    <a href="{% url 'delete_watchlist'%}"><button class="button">Delete Watchlist</button></a>
</nav>
{% endblock %}